body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1em;
  margin: 0;
}

header h1 {
  text-align: center;
  margin: 2rem 0;
}

main {
  max-width: 900px;
  margin: 0 auto 3rem;
}

.errors {
  white-space: pre-line;
  color: red;
  min-height: 1.2em;
  margin-bottom: 1rem;
}

.card-grid {
  display: grid;

  /* slightly tighter columns */
  grid-template-columns: 40px 1fr 1fr 140px 40px;
  grid-template-rows: 40px auto auto 90px 40px;

  max-width: 650px;
  margin: 0 auto;
}

.card-front,
.card-back {
  width: 420px;
  height: 240px;
  border-radius: 12px;
  background: #d9d9d9;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.25);
  padding: 18px;
  box-sizing: border-box;
}

.card-front {
  grid-column: 2 / 5;
  grid-row: 1 / 4;
  z-index: 2;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 14px;
}

.card-back {
  grid-column: 3 / 6;
  grid-row: 2 / 5;
  z-index: 1;
}

.submit-btn {
  grid-column: 4 / 5;
  grid-row: 4 / 5;
  justify-self: end;
  align-self: end;

  padding: 10px 16px;
  border: 1px solid #111;
  border-radius: 8px;
  background: #efefef;
  cursor: pointer;
}

.card-total {
  grid-column: 1 / 2;
  font-weight: bold;
  font-size: 0.9em;
}

.card-icon {
  grid-column: 2 / 3;
  text-align: right;
  font-size: 1.4em;
}

.field label,
#cardExpiration label {
  display: block;
  font-size: 0.8em;
  font-weight: bold;
  margin-bottom: 6px;
}

.field input,
#cardExpiration input {
  width: 100%;
  padding: 8px;
  border: 1px solid #aaa;
  border-radius: 4px;
  box-sizing: border-box;
}

#cardNumberField {
  grid-column: 1 / 3;
}

#cardHolderField {
  grid-column: 1 / 2;
}

#cardExpiration {
  grid-column: 2 / 3;

  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 8px;
}

#cardExpiration label {
  grid-column: 1 / 3;
}

.magnetic-stripe {
  height: 50px;
  background: #111;
  border-radius: 6px;
  margin-bottom: 25px;
}

.cvc-area {
  width: 120px;
  margin-left: auto;
}

.cvc-area label {
  display: block;
  font-size: 0.8em;
  font-weight: bold;
  margin-bottom: 6px;
}

.cvc-area input {
  width: 100%;
  padding: 8px;
  border: 1px solid #aaa;
  border-radius: 4px;
  box-sizing: border-box;
}

@media (max-width: 600px) {
  .card-front,
  .card-back {
    width: 320px;
    height: 210px;
  }

  .card-grid {
    grid-template-columns: 20px 1fr 1fr 100px 20px;
  }
}