body {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', serif;
    background-color: white;
    color: black;
}
select {
    margin-bottom: 20px;
    padding: 6px;
    font-size: 1rem;
}
mission-card {
    background-color: white;
    max-width: 650px;
    margin: 60px auto;
    padding: 40px 60px;
}
h1 {
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 10px;
}
h2 {
    text-align: center;
    color: #469fd5;
    font-size: 0.9rem;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
h2::after {
  content: "";
  display: block;
  width: 80%;
  height: 1px;
  background-color: #ddd;
  margin: 20px auto;
}
p {
    /*text-align: left;*/
    line-height: 1.6;
    margin-bottom: 20px;
}
.italic {
    font-style: italic;
}
ol {
    /*text-align: left;*/
    line-height: 1.6;
    padding-left: 40px;
}
ol li {
    margin-bottom: 15px;
}
.logo {
    display: block;
    margin: 40px auto 0;
    width: 150px;
}
p, ol {
    margin-left: 150px;
    margin-right: 150px;
}

body.dark {
    background-color: #333;
    color: white;
}
body.dark .mission-card {
    background-color: #333;
}
body.dark h2 {
    color: #7ec8ff;
}